.footer {
  @include container;
}

.layout {
  display: grid;
  justify-items: center;
  align-items: center;
  
  height: 100px;
}

.navigation {
  text-transform: uppercase;

  font-size: 16px;

  ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;

    color: $accent-color;
  }
}