.button {
  @include control;

  display: grid;
  align-items: center;

  &--inverse {
    @include control($inverse-br: true);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--shrink {
    width: max-content;
  }

  &--with-spinner {
    overflow: hidden;

    .text {
      display: grid;
      grid-template-rows: repeat(2, 100%);
      align-items: center;
      justify-items: center;

      transition: transform 0.3s ease-in-out;
    }

    &:hover, &:focus {
      & .text {
        transform: translateY(-100%); 
      }
    }
  }
}

.text,
.icon {
  grid-row: 1;
  grid-column: 1;
}

.text {
  justify-self: center;
}

.icon {
  justify-self: end;

  display: flex;

  width: 20px;
  height: 20px;

  transition: color .1s ease-in-out;
}