.button {
  @include control;

  display: grid;
  align-items: center;
}

.text,
.icon {
  grid-row: 1;
  grid-column: 1;
}

.text {
  justify-self: center;
  
  text-transform: uppercase;
}

.icon {
  justify-self: end;

  transition: color .1s ease-in-out;
}