.modal-wallet {
  width: 300px;
  padding: 20px 20px 20px;

  &--is_root {
    .back {
      opacity: 0;

      pointer-events: none;
    }
  }
}

.layout {
  display: grid;
  row-gap: 20px;
}

.header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
}

.back {
  opacity: 1;

  transition: opacity .1s ease-in-out;
}

.description {
  display: grid;
  row-gap: 10px;
}

.title {
  justify-self: center;

  font-size: 20px;
  font-weight: 500;
}

.error {
  justify-self: center;

  text-align: center;

  color: $error-color;
}

.logo {
  justify-self: center;

  width: 70%;
}

.loader {
  justify-self: center;
  
  width: 50%;

  color: $accent-color;
}

.link {
  text-align: center;
  text-decoration: underline;

  transition: color 0.1s ease-in-out;

  &:hover {
    color: $accent-color;
  }
}

.retry {
  justify-self: center;

  transition: transform .3s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }

  &:active {
    transform: scale(1.2);
  }
}
