.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: grid;
  justify-items: center;
  align-items: center;

  background: rgba($fg-color, 0.4);
}

.modal {
  @include card;
}
