.icon-button { 
  position: relative;

  display: grid;

  width: 20px;
  height: 20px;

  transition: color 0.1s ease-in-out;
  cursor: pointer;

  &::after {
    content: "";

    position: absolute;

    justify-self: center;
    align-self: center;

    width: 35px;
    height: 35px;

    border-radius: 50%;

    transition: background-color 0.1s ease-in-out;
  }

  &:hover, &:focus-visible {
    &::after {
      background-color: rgba($fg-color, 0.1);
    }
  }
}