.dev-button {
  position: fixed;
  z-index: 1000;
  left: 30px;
  bottom: 60px;

  font-size: 24px;
  font-weight: 500;

  cursor: pointer;
}

.dev-panel {
  position: fixed;
  z-index: 1000;
  right: -100%;
  top: 0;

  display: grid;

  transition: right 0.5s ease-in-out;

  overflow-y: scroll;

  > *, &::after {
    grid-row: 1;
    grid-column: 1;
  }

  &--expanded {
    right: 0;
  }

  &::after {
    content: "";

    display: block;

    width: 100%;
    height: 100%;

    background-color: rgba($bg-color, 0.8);
  }
}

.layout {
  width: 30vw;
  height: 100vh;
  padding: 60px 30px;
}
